@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700&display=swap');

*, 
*::before, 
*::after {
    margin:0;
    padding:0;
    box-sizing: border-box;
    
}
:root {
    --bck-color: #2E2E35;
    --texte-principal: #dadada;
    --couleur-secondaire: #34343b;
    --couleur-3: #e4aa48;
    --couleur-trait:#000101;
    --couleur-nav:#2B2B34;
    --texte-hover:#d2d2d2;
    --couleur-widget:#171515;
    --couleur-footer:#000101;
    --texte-change:#e4aa48;
    --couleur-box:rgba(255, 255, 255, 0.155);
}

/*
    :root.light {
        --bck-color: #FAFBFE;
        --texte-principal: #000101;
        --couleur-secondaire: #f1f4ff;
        --couleur-3: #466C88;
        --couleur-nav:#82ccdd;
        --couleur-widget:#466C88;
        --couleur-footer:#466C88;
        --texte-change:#dadada;
        --couleur-box:rgba(164, 164, 164, 0.155);

    }
*/


::selection{
    background-color: #000101;
    color: #fefeff;
}
html, body {
    width: 100%;
    max-width: 100vw;
    min-height: 100vh;
    scroll-behavior: smooth;
    background-color: var(--bck-color);
    color: var(--texte-principal);
    font-family: 'Lato', sans-serif;
}



h1, h2, h3, h4 {
    font-family: 'Roboto', sans-serif;
}



.line{
    height: 2px;
    width: 70%;
    margin: 0 auto;
    background-color: var(--couleur-trait);

}
.line2{
    height: 2px;
    width: 100%;
    margin: 0 auto;
    background-color: var(--couleur-3);

}

.trait{
    width: 200px;
    height: 2px;
    background: var(--couleur-3);
    margin: 40px 0;
}
.trait2{
    width: 80px;
    height: 2px;
    background: var(--couleur-3);
    margin: 5px 0;
}
