
.projet h2{
        text-align: center;
        margin: 70px 0;
        font-size: calc(1rem + 2.5vw);
}
.projet .gallery{
    max-width: 1300px;
    margin: 35px auto;
    display: flex;
    flex-wrap: wrap;
    gap: 10vmin;
    padding: 15px;
    justify-content: center;
}
.projet .gallery .boite{
    list-style-type: none;
    height: 260px;
    flex-grow: 1;
    position: relative;
    overflow: hidden;
    
}

.projet .gallery .boite img{
    width: 100%;
    height: 100%;
    object-fit: contain; 
}

.lien{
    margin-top: 10px;
}
.lien a{
    
    text-decoration: none;
    color: var(--texte-principal);
    font-weight: bold;
    transition: all 1s ease-in-out;
}

/* .projet .gallery .boite img:hover{
    
    filter: opacity(0.3);
    transition: all ease 0.5s;
} */


.hover-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%; 
    opacity: 0;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.774);
    padding: 10px 20px;
    border-radius: 0; 
    transition: opacity 0.5s ease;
    display: flex; 
    align-items: center; 
    justify-content: center; 
    /* font-size: 1.8rem; */
}


.projet .gallery .boite:hover .hover-text {
    opacity: 1;
}